<!Doctype html>
<html>
<head>
  <title>PostIt App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="public/css/app.css">
</head>
<body>
  <div id="nav-bar">
    <ul class="top-nav">
      <li class="left">About</li>
      <li class="right"><a href="#" class="active">Sign in<a></li>
    </ul>
  </div>
  <div id="container">
    <div id="input-container">
      <input class="user-input" id="login-email" placeholder="Your email" type="email"/>
      <br>
      <input class="user-input" id="login-password" placeholder="Your password" type="password"/>
      <br>
      <button id="login-btn">Login</button>
      <br>
      <span>Are you new to this site?<a href='#'>Login</a></span>
    </div>
  </div>
</body>
</html>
