<!Doctype html>
<html>
<head>
  <title>PostIt App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
  <div id="nav-bar">
    <ul class="top-nav">
      <li class="left">About</li>
      <li class="right"><a href="#" class="active">Sign in<a></li>
    </ul>
  </div>
  <div id="container">
    <div id="input-container">
      <input class="user-input" id="login-email" placeholder="Your email" type="email"/>
      <br>
      <input class="user-input" id="login-password" placeholder="Your password" type="password"/>
      <br>
      <button id="login-btn">Login</button>
      <br>
      <span>Are you new to this site?<a href='#'>Login</a></span>
    </div>
  </div>
</body>
</html>
