<!Doctype html>
<html>
<head>
  <title>PostIt App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="public/css/materialize.css">
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container" id="nav-bar"><a id="logo-container" href="#" class="brand-logo">PostIt</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">My Profile</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container col s12 m6 l3">
      <br><br>
      <h1 class="header center black-text">PostIt App</h1>
      <div class="row center col s12 m6 l3">
        <div class="col s4 offset-s4">
          <form class="form-horizontal" method="post" action="#">
            <div class="input-field">
              <input class="validate" id="reg-username" placeholder="Choose username" type="text" />
            </div>

            <div class="input-field">
              <input class="validate" id="reg-email" placeholder="Your email" type="email"/>
            </div>
        
            <div class="input-field">
              <input class="validate" id="reg-password" placeholder="Your password" type="password"/>
            </div> 

            <div class="input-field">
              <input class="validate" id="confirm-password" placeholder="Confirm password" type="password"/>
            </div>

            <div class="form-group text-center">
              <a class="waves-effect waves-light btn-large" id="signup-btn">Register</a>
            </div>

            <div class="form-group text-center">
              <span>Already a member?<a href='#'>Login</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>