
body {
  background: #eee;
  margin: 0;
}

#container {
  width:800px;
  margin:50px auto;
  padding: 20px;
  width:50%;
  border: solid 1px grey;
  background-color: floralwhite;
}
  
#input-container {
	text-align: center;
	padding-bottom: 10px;
	margin-top: 30px;

}
  
#signup-btn, #login-btn {
	height: 30px;
	margin-bottom: 5px;
	width: 200px;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	 background-color: green;
	color: white;
}

.user-input {
	height: 30px;
	margin-bottom: 5px;
	border: solid 1px grey;
	width: 200px;
	border-radius: 5px;;

	padding-left: 5px      
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
